.add-campus-btn {
     background-color: #9faef1; 
  color: white; /* White text color */
  padding: 12px 20px; /* Padding for size */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Font size */
  
}

.add-student-btn {
  background-color: #9faef1; 
  color: white; /* White text color */
  padding: 12px 20px; /* Padding for size */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Font size */
 
}
