.add-campus-btn {
     background-color: #9faef1; 
  color: white; 
  padding: 12px 20px; 
  border: none; 
  border-radius: 8px; 
  font-size: 16px; 
  
}

.add-student-btn {
  background-color: #9faef1; 
  color: white; 
  padding: 12px 20px; 
  border: none; 
  border-radius: 8px; 
  font-size: 16px; 
 
}



