
.add-campus-page {
  background-color: #e4d1d1;
  height: 100vh;
  
  color: rgb(15, 1, 1);
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  
 font-size: medium;
  border: none;
  

}

.add-campus-name input{ /*changes input boxes*/
  background-color: #ffffff; /* background color*/
  height: 4vh;
  
 display: block;  /* puts each input form on a different line*/
background-color: #d8d8d8; /* size of input box*/
 margin: 0.5rem auto;   /*put input fields in the center*/
 border-radius: 0px;

  
 

}


.add-student-page {
  background-color: #bdafaf;
  height: 100vh;
   
  color: rgb(15, 1, 1);
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  

 

}
.add-student-page input{
 background-color: #ffffff; /* background color*/
  height: 4vh;
  
   
background-color: #d8d8d8; /* size of input box*/
 margin: 0.5rem auto;   /*put input fields in the center*/
 border-radius: 9px;
 border-color: black;
 

}
.homePage {
  background-color: rgb(53, 87, 44);
   
  text-align: center;
  font-size: large;
}
  